* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'technology';
    src: url(./fonts/Calculator.ttf);
    font-style: normal;
    font-weight: normal;
}
body {
    background: black url(./img/background-large.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center center;
}
.main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-evenly;
}
.footer {
    height: 100px;
}
.calculator {
    max-width: 500px;
    height: 550px;
    background-color: hsl(84, 14%, 93%);
    margin: 50px 0 0 100px; 
    padding: 50px 0;
    border-radius: 30px;
}
.calc__display {
    display: flex;
    margin: 0 30px 0;
    max-width: 420px;
    height: 100px;
    background-color: black;
    border-radius: 15px;
}
.calc_display-input {    
    font-family: 'technology', Arial;
    font-size: 60px;
    margin: auto;
    padding-right: 4px;
    height: 80px;
    width: 99%;
    text-align: end;
    background-color: black;
    outline: none;
    border: none;
    caret-color: transparent;
    letter-spacing: 1px;
    color: white;
}
.calc_display-input::placeholder {
    color: white;
    /* opacity: 0.085; */
}
.calc__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px 30px;
    text-align: center;
    gap: 30px;
}
.calc-button {
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    background-color: rgb(196, 204, 204);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: none;
    text-transform: uppercase;
    font-size: 36px;
}
.calc-plus {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 108px;
}
.calc-zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}
.calc-button:hover{
    filter:brightness(110%);
    transition: ease 0.3s;
}
.calc-button:active{
    box-shadow: 1px 1px rgba(0,0,0,.5);
    transition: none;
}


/* How it works */

.how-it-works {
    padding: 50px 10px 0 50px;
}
.how-it-works h1{
    color:white;
    font-size: 52px;
}
.how-it-works-btn {
    margin: 50px 0 0 0;
    padding: 15px 25px;
    width: 220px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}
.how-it-works-btn:hover {
    filter:brightness(80%);
    transition: ease 0.3s;
}
.how-it-works-btn:active {
    filter: brightness(90%);
    transition: none;
}
ul.oper-list {
    margin-top: 50px;
    background-color: white;
    max-width: 220px;
    border-radius: 30px;
}
.oper-list li {
    font-size: 20px;
    padding: 15px 25px;
}
.oper-list li:first-child {
    border-radius: 30px 30px 0 0;
}
.oper-list li:last-child {
    border-radius: 0 0 30px 30px;
}



/* Media queries */

@media (max-width: 992px) {
    .main {
        flex-direction: column;
    }
    .calculator {
        margin:  50px auto 0;
    }
    .how-it-works {
        margin: 0 auto;
        padding: 50px 0 0;
        text-align: center;
        height: 460px;
    }
    ul.oper-list {
        text-align: left;
        margin: 50px auto 0;
    }
}
@media (max-width: 768px) {
    .calculator {
        width: 400px;
        height: 510px;
    }
    .calc__buttons {
        gap: 15px;
    }
}

@media (max-width: 440px) {
    .calculator {
        width: 310px;
        padding-top: 30px;
    }
    .calc__display{
        margin: auto 15px;
    }
    .calc__buttons {
        margin: 60px 15px 0;
    }
}    